<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../CSS/normalize.css" />
    <link rel="stylesheet" href="../../CSS/gallerie.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Mercure - Alger</title>
  </head>
  <body>
    <div class="gallerie">
      <!--Galery-->
      <div class="container">
        <div class="wrapper">
          <div class="gallery">
            <div class="image">
              <span><img src="./Image/1.jpg" alt="" /></span>
            </div>
            <div class="image">
              <span><img src="./Image/6.jpg" alt="" /></span>
            </div>
            <div class="image">
              <span><img src="./Image/8.jpg" alt="" /></span>
            </div>
            <div class="image">
              <span><img src="./Image/10.jpg" alt="" /></span>
            </div>
            <div class="image">
              <span><img src="./Image/11.jpg" alt="" /></span>
            </div>
            <div class="image">
              <span><img src="./Image/13.jpg" alt="" /></span>
            </div>
            <div class="image">
              <span><img src="./Image/12.jpg" alt="" /></span>
            </div>
            <div class="image">
              <span><img src="./Image/14.jpg" alt="" /></span>
            </div>
            <div class="image">
              <span><img src="./Image/15.jpg" alt="" /></span>
            </div>
            <div class="image">
              <span><img src="./Image/18.jpg" alt="" /></span>
            </div>
            <div class="image">
              <span><img src="./Image/19.jpg" alt="" /></span>
            </div>
            <div class="image">
              <span><img src="./Image/22.jpg" alt="" /></span>
            </div>
            <div class="image">
              <span><img src="./Image/16.jpg" alt="" /></span>
            </div>
            <div class="image">
              <span><img src="./Image/21.jpg" alt="" /></span>
            </div>
          </div>
        </div>
      </div>
      <div class="preview-box">
        <div class="details">
          <span class="title"
            >Image
            <p class="current-img"></p>
            of
            <p class="total-img"></p
          ></span>
          <span class="icon fas fa-times"></span>
        </div>
        <div class="image-box">
          <div class="slide prev"><i class="fas fa-angle-left"></i></div>
          <div class="slide next"><i class="fas fa-angle-right"></i></div>
          <img src="" alt="" />
        </div>
      </div>
      <div class="shadow"></div>
      <!--***************************************-->
    </div>
    <!--For the gallerie -->
    <script src="../../JS/gallerie.js"></script>
  </body>
</html>
